:root {
  background-color: #C1A7FE;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 500px;
  min-height: 100vh;
}

#table{
  width: 500px;
  border: none;
  outline: none;
}


